.Container{
    position: relative;
}
.ChatIcon{
    position: fixed;
    bottom: 2rem;
    right: 2rem;

}

  
.admin{
    background-color: #5786FE;
    color: white;
    
  }
  .user{
    background-color: #FAFAFA;
  }