.Container {
    display: flex;
    justify-content: space-between;
width: 70vw;
    height: 500px;
   
    margin-top: 10rem;
  }
  .UsersList{
    background-color: #fff;
    border-radius: 10px;
    width: 20vw;

  }

  .messageContainer{
    border-radius: 100px;
    width: 30vw;
  }
  .messageContent{
    background-color: #fff;
 

   padding: 1rem;

  }
  
 