.Container {
    display: flex;
    justify-content: space-between;
width: 70vw;
    height: 500px;
   
    margin-top: 10rem;
  }
  .UsersList{
    background-color: #fff;
    border-radius: 10px;
    width: 20vw;

  }

  .messageContainer{
    border-radius: 100px;
    width: 40vw;
  }
  .messageContent{
    background-color: #fff;
    border-radius: 10px;


   padding: 1rem;

  }
  
  .admin{
    background-color: #5679f4;
    color: white;
    
  }
  .user{
    background-color: #F6F8FD;
    color: #2e3655;
  }